<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div class="container">
    <div>
        <a href="/home/newPost">일기 쓰기</a>
        <ul>
            <li th:each="post : ${posts}">
                <a th:href="@{/home/viewPost(postID=${post.postID})}" /><span th:text="${post.title}"></span>
                <span th:text="${post.date}"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>