<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>editPost</title>
</head>
<body>
<div class="container">
    <form action="/home/viewPost/editPost" method="post">
        <div class="form-group">
            <input type="text" maxlength="20" id="title" name="title" th:value="${post.title}" required><br>
            <input type="text" id="content" name="content" th:value="${post.content}" required><br>
        </div>

        <input type="hidden" name="postID" th:value="${post.postID}" />
        <button type="submit">글 등록</button>
    </form>

    <a href="/home">글 목록으로</a>
</div>
</body>
</html>