<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div class="container">
    <div>
        <h3 th:text="${post.title}"></h3>
        <p th:text="${post.date}"></p>
        <p th:text="${post.content}"></p>
    </div>

    <a href="/home">글 목록으로</a>
    <a href="/home/editPost">수정</a>
    <form method="post" action="/home/viewPost">
        <input type="hidden" name="postID" th:value="${post.postID}" />
        <input type="submit" value="삭제" />
    </form>

</div>
</body>
</html>